body{
  background-color: #F4F1DE;
}

h1 {
  color: #264653;
}
#main-container{
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
}
#instructions{
  margin-bottom: 40px;
}
 
#random-food-header {
  color:#E76F51;
  display: flex;
  justify-content: center; 
  align-items: center;
  flex-direction: row;
  margin: 0px;
}

#random-food {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: bold;
  color:#2A9D8F;
  display: flex;
  justify-content: center; 
  align-items: center;
  flex-direction: row;
  }

#card-container1, #card-container2{
  display: flex;
      justify-content: space-around;
      flex-direction: row;
      align-items: center;
      gap: 20 px;
  padding: 20px;
  margin: 20;
  margin-bottom: 40px;
}


.image-fluid {
  height: 100px;
  width: 150px;
}
#header-image{
  max-height: 480px;
  margin-bottom: 40px;
}

.card1-img-top, .card2-img-top, .card3-img-top, .card4-img-top, .card5-img-top, .card6-img-top {
  height: 200px;
  width: 288px;
  border-radius: 10px 10px 0 0;
}


.card-title{
  color: #3D405B;
  margin-top: 5px;
}

.card1-body{
  background-color: #F4F1DE;
}



.btn {
  background-color: #E76F51;
  border-color: #E76F51;
}
.btn-primary:hover {
  color: white;
  background-color: #2A9D8F;
  border-color: #2A9D8F;
}
.modal-title {
  color: #E76F51;
}
#footer {
  position:relative; 
  bottom: 0; 
      display: flex;
      /* justify-content: center; */
  /* background-color: #E76F51; */
  border-top: 3px solid #E76F51;
  border-bottom: 3px solid #E76F51;
  font-size: small;
  color: #264653;
  height: auto;
  width:auto;
  margin-top: 40px;
  padding-top: 20px;
  padding-bottom: 20px;
}
.copyright{
font-size: x-small;
}

li, a{
  color: #264653;
 }
 
 a:hover {
  color: #2A9D8F;
 }

 #copyright {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
 }
/* 
ingredient-search {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
} */



/* bookmark page */
#bookmark-container-outside {
  display: flex;
  justify-content:flex-start;
  flex-direction: column;
  margin: 20px;
  padding: 40px;
  border: 1px solid  #E76F51;
}

#bookmark-header{
  padding: 15px;
  margin-bottom: 25px;;
  font-weight: 500;
  font-size: 1.2em;
  color: white;
  background-color: #E76F51;
}




/* Media Screen for scalability///
/////////////////////////////////
*/
@media screen and (max-width: 952px){
  #main-container {
    flex-direction: column;
    align-items: center;
    row-gap: 10px;
  }
  #card-container1{
    flex-direction: column;
    align-items: center;
    row-gap: 10px;
  }
  #card-container2{
    flex-direction: column;
    align-items: center;
    row-gap: 10px;
  }
}

